/DeleteMemberServlet.class
/EntryServlet.class
/GetandPostReportServlet.class
/LoginServlet.class
/MyPersistenceManager.class
/ReadTeamMemberServlet.class
/RetriveTeamMemberServlet.class
/SignUpServlet.class
/TeamMember.class
/UpdateMemberServlet.class
/UserAccount.class
/UserLoginToken.class
